<div class="container-fluid">
    <div id="chats">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    Error 500
                </div>
                <div class="card-body">
                    {{#if error}}
                    <div class="alert alert-danger">Ha ocurrido un error</div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>