<div class="container-fluid">
    <div id="chats">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header text-white bg-primary">
                    Centro de Mensages <span id="compress"></span>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST" action="/api/messages" id="chat">
                        <div class="form-group row">
                            <input required placeholder="Ingrese su email" class="form-control col-6" type="email"
                                name="email" />
                        </div>
                        <div class="form-group row">
                            <input required placeholder="Ingrese su nombre" class="form-control col-6" type="text"
                                name="nombre" />
                        </div>
                        <div class="form-group row">
                            <input required placeholder="Ingrese su apellido" class="form-control col-6" type="text"
                                name="apellido" />
                        </div>
                        <div class="form-group row">
                            <input required placeholder="Ingrese su edad" class="form-control col-6" type="number" name="edad" />
                        </div>
                        <div class="form-group row">
                            <input required placeholder="Ingrese su alias" class="form-control col-6" type="text" name="alias" />
                        </div>
                        <div class="form-group row">
                            <input required placeholder="Ingrese su avatar" class="form-control col-6" type="text"
                                name="avatar" />
                        </div>

                        <div class="form-group row">
                            <input required type="text" placeholder="ingrese el mensage" class="form-control col-6"
                                name="message" />
                            <input required class="btn btn-primary" type="submit" name="enviar" value="Enviar">
                        </div>
                    </form>
                    <p>Mensajes</p>
                    <ul style="list-style-type: none;" id="messages">
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    $(document).ready(() => {
        fetch('http://localhost:8080/api/messages')
            .then(response => response.json())
            .then(data => {
                const Author = new normalizr.schema.Entity("authors")
                const Message = new normalizr.schema.Entity("message", { author: Author })
                const Messages = [Message];
                const denorm = normalizr.denormalize(data.result, Messages, data.entities)
                const tamaNorm = JSON.stringify(data).length
                const tamaOrig = JSON.stringify(denorm).length
                const compress = (tamaNorm * 100 / tamaOrig).toFixed(2) ;
                $("#compress").text(`(Compresión: ${compress}%)`)
                denorm.forEach(msg => {
                    const fecha = new Date(msg.fecha);
                    $("#messages").append(`
                    <li>
                        <span style="margin: 1px;color:blue">${msg.author.id}</span><span
                        style="margin: 1px; color:red">[${fecha.toLocaleDateString()} ${fecha.toLocaleTimeString()}]</span>
                        <span style="margin: 1px; color:green">: ${msg.text}</span>
                    </li>
            `)
                }
                )
            })
            .catch((ex) => console.error(ex));
    })
    $("#chat").on("submit", (e) => {
        let msg = {
            email: e.target[0].value,
            message: e.target[6].value
        }
        if (!msg.email || !msg.message) {
            alert("Complete los campos!");
            return false;
        }
    })
</script>